*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 9.8% 19.4%,  rgba(223,75,75,1) 11.6%, rgba(20,12,12,1) 90.5% );
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.main_div{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
h2{
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 600;
}
span{
    color: yellow;
}
.button_div{
    background-image: linear-gradient( 68.8deg,  rgba(234,184,163,1) 4%, rgba(247,153,130,1) 49%, rgba(255,126,119,1) 90.4% );
    border-radius: 10px;
    padding: 2rem;
}
input{
    padding: 5px 2rem ;
    border-radius: 5px;
    background-color: white;
}
button{
    padding: 5px 2.5rem;
    border-radius: 5px;
    background-color: yellow;
}
#result{
    color: aliceblue;
     background-image: linear-gradient( 68.8deg,  rgba(234,184,163,1) 4%, rgba(247,153,130,1) 49%, rgba(255,126,119,1) 90.4% );
    border-radius: 10px;
    padding: 2rem;
    display: none;
    font-size: 1.3rem;
    font-family: sans-serif;
}